.header {
  box-shadow: var(--shadowHeader);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--color-white);
  top: 0px;
  & .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }
  & .logo {
    padding: 0.5rem 0;
  }
  & .login {
    color: var(--color5);
    display: flex;
    align-items: center;
    &::after {
      content: "";
      display: inline-block;
      width: 14px;
      height: 17px;
      background: url("../../assets/usuario.svg");
      margin-left: 0.5rem;
      position: relative;
      top: -1px;
    }
  }
}
